.navbar_container {
  position: relative;
  .destop_navbar_container {
    align-items: center;
    background-color: initial;
    display: flex;
    height: auto;
    justify-content: space-between;
    left: 0;
    margin: 0 auto;
    max-width: 85%;
    padding: 2.7rem 2rem;
    width: 100%;
    z-index: 99999;
    .mobile-hamb {
      @media (min-width: 767px) {
        display: none;
        font-size: 26px;
      }
    }
    .logo {
      width: 8.5rem;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .links_container {
      font-weight: 500;
      @media (max-width: 767px) {
        display: none;
      }
      ul {
        display: flex;
        list-style: none;
        gap: 2rem;
        a {
          text-decoration: none;
          color: inherit;
        }
        &:hover {
          cursor: pointer;
        }
      }
    }
    .register_btn_container {
      display: flex;
      gap: 1.5rem;
      @media (max-width: 767px) {
        display: none;
      }
      a {
        text-decoration: none;
        //   color: white;
        font-weight: bold;
        &:first-child {
          color: black;
        }
        &:nth-child(2) {
          color: white;
          background-color: #ff4d30;
          padding: 0px 15px;
          border-radius: 5px;
        }
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
  .mobile_navbar_container {
    // align-items: center;
    background-color: #fff;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    position: fixed;
    top: 0;
    transition: all 0.5s ease-in-out;
    width: 100%;
    z-index: 999999;
    .mobile_nav_close {
      position: absolute;
      right: 15px;
      top: 25px;
      font-size: 26px;
    }

    .mobile_nav_links {
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;

      ul {
        padding: 0;
        display: flex;
        flex-direction: column;
        // gap: 15px;
        list-style: none;
        font-size: 1.3rem;
        gap: 2rem;
        list-style: none;
        text-align: center;
        a {
          text-decoration: none;
          color: #010103;
          font-weight: 600;
          text-decoration: none;
          transition: all 0.3s;
        }
      }
    }
  }
  .close_mobile_nav {
    left: -100%;
  }
}
