.bookcar_container {
  max-width: 85%;
  margin: auto;
  background-color: #fff;
  background-image: url("../../images/book-car/book-bg.png");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
  color: #fff;
  color: #010103;
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 4rem 4.5rem 5rem 5.5rem;
  position: relative;
  width: 100%;
  z-index: 4;
  @media (max-width: 767px) {
    padding: 15px;
  }

  .box-form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    p {
      margin: 0;
      color: red;
    }
    @media (max-width: 767px) {
      flex-direction: column;
    }
    i,
    b {
      color: #ff4d30;
    }
    div,
    button {
      width: 45%;
      display: flex;
      flex-direction: column;
      @media (max-width: 767px) {
        width: 100%;
      }
    }
    select {
      border: 1px solid #ccd7e6;
      border-radius: 3px;
      color: #ababab;
      font-family: Rubik, sans-serif;
      font-size: 1rem;
      font-weight: 400;
      outline: none;
      padding: 1rem 0.5rem;
    }
    input {
      border: 1px solid #ccd7e6;
      color: #878585;
      outline: none;
      padding: 1rem;
    }
    button {
      align-self: self-end;
      background-color: #ff4d30;
      border: none;
      box-shadow: 0 10px 15px rgba(255, 83, 48, 0.35);
      color: #fff;
      cursor: pointer;
      font-family: Rubik, sans-serif;
      font-size: 1rem;
      font-weight: 500;
      height: -moz-fit-content;
      height: -webkit-fit-content;
      height: fit-content;
      padding: 1rem;
      transition: all 0.3s;
      align-items: center;
    }
  }
}
